.box{
    background-color:black;
    height:1000px;
    width:100%;
}
.box1{
    background-color:white;
    width:50%;
    height:1000px;
    float:left;
}
.box2{
    background-color:white;
    width:50%;
    height:1000px;
    float:right;
    position: relative;
}
.box11{
    text-align: center;
    position: relative;
    top: 50%;
}
.box11>h1{
    font-size: 3em;
    color:blue;
}

.box11>p{
    font-size: 2em;
    color:black;
}

.container-fluid {
    border-radius: 5px;
    background-color: #ffffff;
    padding: 20px;
    border:1px solid  black;
    position:absolute;
    top:47%;
    left:16%;
    height: 430px;
    width:50%;
}

.col-50a {
    float: left;
    width: 45%;
    margin-top: 6px ;
}

.col-50b {
    float: left;
    width: 45%;
    margin-top: 6px ;
    margin-left: 7%;
}
.col-100 {
    float: left;
    width: 97%;
    margin-top: 6px ;
}
.top1{

    color: blue;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}
.input{
    width: 100%;
    padding: 12px;
    border: 1px solid #778899;;
    border-radius: 4px;
    resize: vertical;
}
.button{
    background-color: green;
    font-size: 20px;
    border-radius: 4px;
    width:100%;
}
